{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">Transacted</th>
            </tr>
        </thead>

        <tbody>
            {% for item in history %}
            <!-- this is jinja syntax for looping over every element in history,
            where history is the dict we specified in app.py.
            So we are "printing out" values in that dict.-->
                <tr>
                    <td class="text-start">{{item.symbol}}</td>
                    <td class="text-end">{{item.number_of_shares}}</td>
                    <td class="text-end">{{item.price_per_share | usd}}</td>
                    <td class="text-end">{{item.timestamp}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
